# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build
.cache
.vscode

# # Test settings
# library/tests/gtest/src/eventlog/csvlog_test_settings.h
# library/tests/gtest/src/ts/ts_test_settings.h

# # temp
# *.gv
# *.gif
# *.csv
# *.sq3
# *.xlsx
# *.ps
# *.pdf
# *.vsd
# *.cmd
# *.example
# *.zip
# *.xi.txt
